.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 50px; 
    max-width: 1200px;
    margin: 192px; */
  }
  
  .hero-text {
    /* width: 50%; */
    color: white;
    padding-left: 104px;
  }
  
  .hero-title {
    width: 339px;
    height: 87px;
    padding-top: 192px;
    font-family: Mooner;
    font-size: 72px;
    font-weight: 400;
    line-height: 87.19px;
    text-align: left;

    
  }
  
  .hero-description {
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 1.6;
    color: #ccc;
  }
  
  .highlight {
    color: yellow;
    font-weight: bold;
  }
  
  .hero-image {
    width: 45%;
    max-width: 500px;
    height: auto;
  }
  